
<section class=" flex-column align-items-center justify-content-center my-5">
<h2 class="text-center" >Bienvenido! <b>{{email}}</b> </h2>

<form action="/api/sessions/logout" method="POST">
<div class="container w-25 my-5">
    <button class="btn btn-danger" type="submit"> Cerrar Sesion </button>
    </div>
</form>
</section>