
<section class=" container flex-column align-items-center justify-content-center my-5 w-25">

<div class="container  my-5 ">
<h1 class=" my-5"> Estas Logueado!</h1>

<form action="/api/sessions/logout" method="POST">

    <button class="btn btn-danger" type="submit"> Cerrar Sesion </button>
    
</form>
</div>
</section>